<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
      <appSettings>
        <add key ="DBConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Logan\Documents\GitHub\Peer\Peerdb_fixed.accdb"/>
        <add key ="ClientSettingsProvider.ServiceUri" value=""/>
      </appSettings>
</configuration>